:root {
    --color-verde: #3428281f;
}

body {
    
  
    background: linear-gradient(rgba(0, 0, 0, 0.541), rgba(0.0.0.5)), url("../css/img/giphy.gif")
    
}

.alto-pantalla {
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo-verde {
    background-color: var(--color-verde);
}

.icono-form {
    background-color: transparent;
    border: none;
}

.btn-custom {
    background-color: var(--color-verde);
}

#general_Box { 

    padding: 110px;

}